*{box-sizing: border-box;}
header{
  color: rgb(66, 59, 64);
  text-align: center;
  text-shadow: 2px 2px 3px white;
}
body{
  background-image: linear-gradient(rgb(0, 157, 20), rgba(151, 171, 128, 0.1));
  background-repeat: no-repeat;
}
footer{
  background-color: rgba(161, 161, 161, 0.89);
  height: 60px;
  position: sticky;
  bottom: -25px;
  clear:both;
  text-align: center;
}
